html {
	width: 98%;
	margin: 0 auto;
}

body {
	background-image: url("../img/ChicagoRiver.jpg");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	/*background-size: 110% 115%;*/
	background-attachment: fixed;
	position: scroll;
	z-index: -1;
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	overflow: visible;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#logo {
	width: auto;
	height: auto;
}

#logo img {
	position: relative;
	top: 0px;
	left: 0px;
	width: 24%;
}

header h1 {
	text-align: center;
	font-size: 35px;
	font-family: Verdana, Geneva, sans-serif;
}

.form-signin-heading{
	text-align: left;
}

#loginForm {
	width: 50%;
	position: relative;
	top: 80;
	margin: 0 auto;
	border: 2px;
	border-color: black;
}

#loginForm h2 {
	font-size: 22px;
}

#remember {
	font-family: Verdana, Geneva, sans-serif;
	color: #FFFFFF;
}

#customers, #mlsdata {
	position: relative;
	top: 50px;
}

#customers button{
	position: relative;
	top: 40px;
	left: 8%;
	float: left;
	width: 35.5%;
	height: 30%;
	display: block;
}

#mlsdata button {
	position: relative;
	top: 40px;
	left: 20%;
	width: 35.5%;
	height: 30%;
	display: block;
}

#customers button a, #mlsdata button a {
	font-size: 20px;
	font: bold;
	color: black;
}

#customers button a:hover, #mlsdata button a:hover {
	font-size: 24px;
}

.btn-custom {
	opacity: .7;
	border-color: #1646a7;
	border-width: 5px;
	z-index: 1;
}

.btn-custom:hover { 
	opacity: 1;
    background-color: #4a91e8;
}

.table th {
	background-color: #2071d9;
}

.table {
	opacity: .7;
	border-radius: 5px;
}

.table th, .table tr {
  text-align: center;
}

#tableHeader {
	border
}

@media (min-width: 1001px) and max-width: 2000px) {
	body {
		background-image: url("../img/ChicagoRiver.jpg");
	}
}

@media (min-width: 501px) and (max-width: 1000px) {
	body {
		background-image: url("../img/ChicagoRiver.jpg");
	}
	
	#loginForm {
		width: 75%;
		margin: 0 auto;
		position: relative;
		top: 75;
	}
	
	#loginForm h2 {
		color: gradient;
		font-size: 22px;
	}
	
	body header h1 {
		text-align: center;
		font-size: 30px;
		color: gradient;
	}
}

@media (min-width: 401px) and (max-width: 500px) {
	body {
		background-image: url("../img/ChicagoRiver.jpg");
	}
	
	#loginForm {
		width: 90%;
		margin: 0 auto;
		position: relative;
	}

	#loginForm h2 {
		color: gradient;
		font-size: 22px;
	}
	
	body header h1 {
		text-align: center;
		font-size: 25px;
		color: gradient;
	}
	#customers button {
		position: relative;
		width: 75%;
		left: 13.5%;
	}
	#mlsdata button {
		position: relative;
		top: 40px;
		width: 75%;
		left: 13.5%;
	}	
}
	
@media (min-width: 200px) and (max-width: 400px) {
	body {
		background-image: url("../img/Hancock.jpg");
	}
		
	#loginForm {
		width: 90%;
		margin: 0 auto;
		position: relative;
	}

	#loginForm h2 {
		color: #FFFFFF;
		font-size: 22px;
	}
	
	body header h1 {
		text-align: center;
		font-size: 25px;
		color: #FFFFFF;
	}
	#customers button, #mlsdata button{
		position: relative;
		width: 75%;
		left:13.5%
	}
}	